<p>browse works!</p>
<!DOCTYPE html>
<html>

<head>
  <title>DCX Developer Directory</title>

  <style>
    #map {
      width: 400px;
      height: 250px;
      float: left;
    }

  </style>
</head>

<body>
  <div id="container">
    <header>
      <h1><span class="blueText">DCX</span> Developer Directory</h1>
      <h2>Find A Developer <span class="whiteText">NOW</span></h2>
    </header>

    <nav id="menu">
      <ul>
        <li class="menuitem"><a href="index.html">Home</a></li>
        <li class="menuitem"><a href="about.html">About Us</a></li>
        <li class="menuitem"><a href="browse.html/:no">Browse Developers</a></li>
        <li class="menuitem"><a href="register.html">Register As Developer</a></li>
        <li class="menuitem"><a href="contact.html">Contact Us</a></li>
        <li><a routerLink='/login'>Logout</a></li>
      </ul>
    </nav>

    <nav id="leftMenu">
      <h3>Links</h3>
      <ul>
        <li><a href="browse.html">SEO</a></li>
        <li><a href="browse.html">PHP</a></li>
        <li><a href="browse.html">Ajax</a></li>
        <li><a href="browse.html">jQuery</a></li>
        <li><a href="browse.html">Web design</a></li>
        <li><a href="browse.html">Web Programming</a></li>
        <li><a href="browse.html">Content Creation</a></li>
        <li><a href="browse.html">Internet Marketing</a></li>
        <li><a href="browse.html">XHTML Templates</a></li>
      </ul>
    </nav>

    <section>
      <h3>Browse Developers</h3>
      <div class="panel-primary">

        <div class="table-responsive">

          <table mdbTable class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Group</th>
              </tr>

            </thead>
            <tr mdbTableCol
              *ngFor="let m of developers.result | paginate:{itemsPerPage:limit,currentPage:p,totalItems:developers.no}">
              <td>{{m.full_name}}</td>
              <td>{{m.email}}</td>
              <td>{{m.group}}</td>

            </tr><br><br>
            <pagination-controls (pageChange)="getdev($event)"></pagination-controls>
          </table>
        </div>
      </div>
    </section>

  </div>
  <div style="clear:both"></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer>
    Copyright 2017. DCX Developer Directory.
  </footer>
</body>

</html>
