<p>contact works!</p>
<!DOCTYPE html>
<html>

<head>
  <title>DCX Developer Directory</title>
</head>

<body>
  <div id="container">
    <header>
      <h1><span class="blueText">DCX</span> Developer Directory</h1>
      <h2>Find A Developer <span class="whiteText">NOW</span></h2>
    </header>

    <nav id="menu">
      <ul>
        <li class="menuitem"><a href="dashboard">Home</a></li>
        <li class="menuitem"><a href="about">About Us</a></li>
        <li class="menuitem"><a href="browse/:no">Browse Developers</a></li>
        <li class="menuitem"><a href="register">Register As Developer</a></li>
        <li class="menuitem"><a href="contact">Contact Us</a></li>
       <li class="menuitem"><a href="login" (click)="logout()">Logout</a></li>
      </ul>
    </nav>

    <nav id="leftMenu">
      <h3>Links</h3>
      <ul>
        <li><a href="browse/:no">SEO</a></li>
        <li><a href="browse/:no">PHP</a></li>
        <li><a href="browse/:no">Ajax</a></li>
        <li><a href="browse/:no">jQuery</a></li>
        <li><a href="browse/:no">Web design</a></li>
        <li><a href="browse/:no">Web Programming</a></li>
        <li><a href="browse/:no">Content Creation</a></li>
        <li><a href="browse/:no">Internet Marketing</a></li>
        <li><a href="browse/:no">XHTML Templates</a></li>
      </ul>
    </nav>

    <section>
      <h3>Contact Us</h3>
      <div>Please use this form to contact a member of our website team</div><br>
      <div *ngIf="!message">


        <form method="post" [formGroup]="angForm" (ngSubmit)="onSubmit(angForm.value)">
          <div class="form-group">
            <label>Full Name:</label>
            <input class="form-control" formControlName="name" type="text" placeholder="Enter your full name"
              pattern="[A-Za-z]{3,} [A-Za-z]{3,}" maxlength="30">
          </div><br>
          <div
            *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['name'].errors.required">
              Full Name is required.
            </div>
          </div><br>

          <div class="form-group">
            <label>Email Address:</label>
            <input class="form-control" formControlName="email" type="email" placeholder="Enter your email address"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </div>

          <div
            *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">
              Email is required.
            </div>
          </div><br>

          <div class="form-group">
            <label>Phone Number:</label>
            <input class="form-control" formControlName="phone" type="tel" placeholder="Enter your phone number"
              pattern="[0-9]{10}">
          </div><br>
          <div
            *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['phone'].errors.required">
              Phone Number is required.
            </div>
          </div><br>

          <div class="form-group">
            <label for="location">Location: </label>
            <input list="location" class="form-control" formControlName="location">
            <datalist id="location">
              <option value="New York">
              <option value="Miami">
              <option value="Boston">
            </datalist>
          </div><br>
          <div
            *ngIf="angForm.controls['location'].invalid && (angForm.controls['location'].dirty || angForm.controls['location'].touched)"
            class="alert alert-danger">
            <div *ngIf="angForm.controls['location'].errors.required">
              Location is required.
            </div>
          </div>
          <fieldset>
            <legend>About Your Project</legend>

            <div class="form-group">
              <label for="budget">Budget: </label>
              <select class="form-control" formControlName="budget">

                <option value="100-500">$100 - $500</option>
                <option value="500-1000">$500 - $1000</option>
                <option value="1000-2000">$1000 - $2000</option>
                <option value="2000+">$2000+</option>
                <option value="not sure">Not Sure</option>
              </select>
            </div><br>
            <div
              *ngIf="angForm.controls['budget'].invalid && (angForm.controls['budget'].dirty || angForm.controls['budget'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['budget'].errors.required">
                Budget is required.
              </div>
            </div>
            <p>


            <div class="form-group">
              <label>Current Website:</label>
              <input class="form-control" formControlName="website" type="url" placeholder="Enter current website"
                pattern=".*\.com\.*">
            </div><br>
            <div
              *ngIf="angForm.controls['website'].invalid && (angForm.controls['website'].dirty  || angForm.controls['website'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['website'].errors.required">
                Website is required.
              </div>
            </div><br>

            <div class="form-group">
              <label>Start Date:</label>
              <input class="form-control" formControlName="startDate" type="date" required min="2021-04-16">
            </div>
            <div
              *ngIf="angForm.controls['startDate'].invalid && (angForm.controls['startDate'].dirty || angForm.controls['startDate'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['startDate'].errors.required">
                Start Date is required
              </div>
            </div><br>


            <div class="form-group">
              <label>Number of Pages:</label>
              <input class="form-control" formControlName="pages" type="number" required>
            </div>
            <div
              *ngIf="angForm.controls['pages'].invalid && (angForm.controls['pages'].dirty || angForm.controls['pages'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['pages'].errors.required">
                This is required.
              </div>
            </div><br>

            <div class="form-group">
              <label>Main Website Color:</label>
              <input class="form-control" formControlName="color" type="color" required>
            </div>
            <div
              *ngIf="angForm.controls['color'].invalid && (angForm.controls['color'].dirty || angForm.controls['color'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['color'].errors.required">
                This is required.
              </div>
            </div><br>

          </fieldset>

          <input type="submit" value="Submit Query" [disabled]="angForm.pristine || angForm.invalid"
            class="btn btn-success">
          <input type="reset" value="Reset" class="btn btn-warning">


        </form>
      </div>
      <div *ngIf="message" align="center">
        <h3>Form Submitted Successfully!</h3>
        <button type="reset" mat-raised-button routerLink="/dashboard">Go Back</button>
      </div>

      <br />
    </section>

  </div>
  <div style="clear:both"></div>

  <footer>
    Copyright 2017. DCX Developer Directory.
  </footer>
</body>

</html>
